<footer class="bd-footer py-5 mt-1 bg-dark" id="footer"> 
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-3 mb-3">
         <p>&copy; 2021 CAC Boarneges. <br> All rights reserved</p>
          <ul class="list-unstyled small text-muted">
            <li class="mb-2">Follow us on Social Media</li>
            <a href="https://web.facebook.com/prophetjosephadeologbonyo?_rdc=1&_rdr"><i class="fab fa-facebook social fa-2x" ></i></a>
            <a href="https://www.youtube.com/channel/UCyIkNJzUs6VeGDZk4rp5g7w"><i class="fab fa-youtube social fa-2x "></i></a>
            <a href="#"><i class="fab fa-instagram social fa-2x"></i></a>
          </ul>
        </div>
        <div class="col-6 col-lg-2 offset-lg-1 mb-3">
          <h5>About Us</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="/">Home</a></li>
            <li class="mb-2"><a href="#vision">Vision</a></li>
            <li class="mb-2"><a href="#mission">Mission</a></li>
            <li class="mb-2"><a href="/about#history">History</a></li>
            <li class="mb-2"><a href="/about#leadership">Leadership</a></li>
          </ul>
        </div>
        <div class="col-6 col-lg-2 mb-3">
          <h5>Connect</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="/connect#locations">Locations</a></li>
            <li class="mb-2"><a href="/connect#fellowship">House Fellowship</a></li>
            <li class="mb-2"><a href="/connect#appointment">Book an appointment</a></li>
            <li class="mb-2"><a href="https://web.facebook.com/prophetjosephadeologbonyo?_rdc=1&_rdr">Online Church</a></li>
            <li class="mb-2"><a href="https://www.youtube.com/channel/UCyIkNJzUs6VeGDZk4rp5g7w">Sermons</a></li>
            <li class="mb-2"><a href="https://www.youtube.com/channel/UCyIkNJzUs6VeGDZk4rp5g7w">Worship</a></li>
            
          </ul>
        </div>
        
        <div class="col-6 col-lg-2 mb-3">
          <h5>Give</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="/give#offerings-tithes">Support our Project</a></li>
            <li class="mb-2"><a href="/give#offerings-tithes">Giving Options</a></li>
            <li class="mb-2"><a href="/give#offerings-tithes">Tithes and Offerings</a></li>
            <li class="mb-2"><a href="/give#partner">Become a Partner</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  </head>
    
  </body>
  </html>