<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Connect || CAC Boarneges</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css">
  <script src="https://kit.fontawesome.com/53eac427de.js" crossorigin="anonymous"></script>
  </head>
<body>
    
    <section class="about" id="">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-dark navbar-personal">    
                
               
              <div class="logo">
                
                <a href="/"><img src="images/logo.png" alt="" srcset="" width="300" height="210"></a>
               
              </div>
        
        
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
        
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
                <ul class="navbar-nav ml-auto thenav">
          
                  <li class="nav-item">
                      <a class="nav-link" href="/about" style="color: white;"><span class="nav-text"><i class="fas fa-church fontsawe"></i> About Us</span></a>
                  </li>
          
                  <li class="nav-item">
                    <a class="nav-link" href="/connect" style="color: white;"><span class="nav-text"><i class="fas fa-user-circle fontsawe"></i> Connect</span></a>
                </li>
            <li class="nav-item">
              <a class="nav-link" href="/give" style="color: white;"> <span class="nav-text"><i class="fas fa-credit-card fontsawe"></i>Give</span></a>
          </li>
                </ul>
          
              </div>
        
            </nav>
        </div>
      
        <h1 class="about-text"><%= title %></h1>
      </section>
     