<%- include('partials/header.ejs') %>

  


      <section class="leadership" id="leadership">    
        <div class="about-container">
      

          <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="about-text-main">
                  <img src="images/leader.jpg" alt="" srcset="" class="leader-image" >
            
                  <h6 class="leader-header">Prophet Ologbonyo Joseph Adegboyega</h6>
                
                  <h6 class="leader-title">General Overseer</h6>
                  <p>
                    The servant of the living God, Prophet Joseph Adegboyega Ololgbonyo, 
                    was inspired to establish a ministry after several convictions in the year 2005. 
                    Then, he was still a civil servant with Ekiti State Local Government service commission, 
                    he was primarily based in Ise/Orun Local Government, Ise Ekiti. 
                    </p>
                    <p>
                      He refused to hearken to the call of God until he fell sick and was vomiting blood 
                      for eight good months. He was taken to the hospital and diagnosed for chronic Tuberculosis, 
                      pneumonia, etc. he couldn’t do anything by himself again, if he want to talk, blood will be 
                      coming out of his mouth.  People around him taught that the end has come for this young man, 
                      not knowing that he was having an encounter with God.
                    </p>
                    <p>
                      He has a professional diploma in computer studies at Olabisi Onabanjo University Ago-Iwoye.  
                      He also has Ordinary National Diploma in public Administration at The polytechnic Ibadan, Oyo state. 
                      He bagged Bachelor of Theology at Acadia University Canada (B.Th) in the year 2012.
                     </p>
                     <p>
                      He eventually agreed to do what God asked him to do and he was healed instantly after seven months 
                      without using any drug again. 
                      Then morning of success started on Monday 5th November, 2007. 
                      He founded warrior of Christ fire band in the year 2005.
                     </p>
                    <p>
                      He was born into the ministry by Pastor J. I. Emmanuel; he also worked briefly as an evangelist 
                      at CAC Oke Isegun DCC headquarters, Ise-Ekiti.
                      He founded CAC Boanerges in the year 2009 with assemblies in Abuja, Lagos, 
                      Ise-Ekiti, Emure-Ekiti, Orun-Ekiti, Ado-Ekiti,Ikere-Ekiti.
                    </p> 
                     <p>
                      He found Lost Hope Foundation in the year 2008. This is an NGO that cater for widows, 
                      orphans and the vulnerable.
                      He founded Seed of Mercy Nursery and primary school, an entrepreneur elementary school, 
                      Orun-Ekiti in the year 2013.
                      He founded Boanerges Medical Centre Orun-Ekiti in the year 2018. 
                    </p>   
                    He has a deep passion for the lost souls, widows, orphans and the vulnerable. 
                    His focus is to win 52 million souls (fifty two million) for Christ by the time the 
                    church will be fifteen years old.
                    His ministry is practically committed to Apostolic ministry, Teaching, 
                    Pastoring and Evangelizing Jesus our Lord and king on earth.
                    Holiness, prayer and breakthrough is his watchword.
                    Undoubtedly, he is one prophet who is heaven focused and always in tune with God his caller, 
                    little wonder many mighty miracles follow his ministry.  
    
                  </p>
    
                </div>

              </div>


          </div>
            
  

        </div>
       
      </section>

  <%- include('partials/footer.ejs') %>