
      <%- include('partials/header.ejs') %>

      <section class="service" id="locations">
          <h6 class="service-header">Connect | Service Times and Locations </h6>

          <h1>Service Times and Locations</h1>

          <div class="row">

                    <div class="col-lg-3 col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>Ekiti Assembly I</h4> 

                            </div>

                                <div class="card-body">
                                    <div class="card-text">
                                        <p>Orun Assembly: 1, Ologbonyo street Orun Ekiti</p> 

                                        <p>Ise assembly: CAC Boarneges, Agunbiade avenue, along ijan road Ise Ekiti</p> 

                                        <p>Ikere Ekiti:CAC Boarneges, Anaye street, beside Glo mask Ikere Ekiti</p> 

                                    </div>
                                </div>
                        </div>
                    </div>
                        
                        
                    <div class="col-lg-3 col-md-12">
                        <div class="card">
                            <div class="card-header">
                                 <h4>Ekiti Assembly II</h4> 
    
                            </div>
    
                            <div class="card-body">
                            
                                <div class="card-text">
                                    <p>Ado1: CAC Boarneges, opposite new CBN office , Ado Ekiti</p> 
            
                                    <p>Ado2: CAC Boarneges, Back of Ado community high school, Ado Ekiti</p> 
                
                                    <p>Emure: CAC Boarneges, opposite Ijaloke Grammar school, Supare road. Emure Ekiti </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>Abuja Assembly</h4> 
                            </div>
     
                            <div class="card-body">
                                <p class="card-text">CAC Boarneges, behind Amac market, living faith road, Federal Housing Authority, Lugbe. Abuja.</p>
     
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>Lagos Assembly</h4> 
                            </div>
                            <div class="card-body">
                                <p>Lydia hall, Ojodu-Berger, Opposite River valley Estate, Lagos State.</p> 
                            </div>
                        </div>
               
                    </div>
            </div>
      </section>

      <hr class="hr">
      <section class="fellowship" id="fellowship">
        <h6 class="fellowship-header">Connect | House Fellowship </h6>


        <div class="row fellowship-box">
            <div class="col-lg-6">
                <div class="fellowship-image">
                    <img src="images/fellowship.jpg" alt="" srcset="" width="300px" height="300px">
    
                </div>
             </div>
           <div class="col-lg-6">
               <div class="fellowship-text">
                    <h1>House Fellowship</h1>
                        <p>
                            Our house fellowship system provides a platform for members to have church in 
                            intimate settings – from the comfort of a home. The house fellowship also provides an 
                            opportunity for volunteers to grow in leadership roles by hosting a house
                            fellowship centre.
                            
                            <div class="fellowship-text-main bg-dark">
                                <h5>House Fellowship holds every Sunday</h5>
                                <h5>Time : 5pm - 6pm</h5>

                            </div>
                           
                        </p> 

                </div>
             </div>
        </div>

       

      </section>

<hr class="hr">

      <section class="appointment" id="appointment">
        <h6 class="appointment-header">Connect | Book an appointment </h6>

          <div class="row">
                       
                        <div class="col-lg-12 col-md-12 col-sm-12 bg-dark">
                            <div class="appointment-text-box">
                                
                                <p class="appointment-text">Are you worried or confused about life?
                                    <br>
                                        Do you need prayers and sound counsel? 
                                </p>                
                                <p class="appointment-cta">
                                    Book an appointment with <strong>Prophet Joseph Ologbonyo </strong>  today by calling the number below
                                </p>
                    
                        <button class="appointment-number btn btn-primary" type="submit"> <p><i class="fas fa-phone-square-alt"></i> +2348038117891</p> </button>


                            </div>

                        </div>
            </div>
    

      </section>

      <%- include('partials/footer.ejs') %>