<%- include('partials/header.ejs') %>

                        <section class="offerings-tithes" id="offering-tithes">
                            <h6 class="offering-header">Give | Offerings and Tithes</h6>

                            <div class="row">

                                    <div class="offering-text bg-dark">

                                        <p class="offering-text1">
                                            Your giving ensures that the gospel reaches the unreached. 
                                            The will of God is that as you sow bountifully, 
                                            you reap bountifully. 
                                            God Bless you as give in Jesus name. Amen 
                                        </p>
                                        
                                        <p>All offerings and tithes can be made into the following account</p>
                                    
                                        <h3>1014316468</h3>
                                        <h5>Zenith Bank</h5>
                                        <h5>The Boanerges Ministries International </h5>

                                    </div>

                            </div>

                        </section>

<hr class="hr">
                        <section class="partner" id="partner">
                            <h6 class="partner-header">Give | Become a Partner</h6>
                            <div class="partner-text">

                            
                            

                            <h1 class="partner-text1">Become a Partner</h1>
                            <h6 class="partner-text2">Before you signup to become a partner, 
                                please read the information below carefully</h6>

                            <h6>PARTNERSHIP GUIDE</h6>
                            <p>
                                Guiding Bible References:  Matthew 6:33; Luke 9:62; Luke 16:10; & Mark 16:15
                                Partners’ Appointment:  Partners are appointed into the ministry on the sole prerogative of the visioner, Prophet Ade Ologbonyo.
                                Partners’ Roles: The partners so appointed by the Prophet have roles below to perform:
                            </p>
                           
                            <h6>QUALITY AND QUALIFICATION OF OUR PARTNERS</h6> 
                            <p>
                            1.	Be Spirit filled <br>
                            2.	Genuinely born again <br>
                            3.	Have the fear of God. <br>
                            4.	Be of the mind set to serve God <br>
                            5.	Key into the vision of the ministry <br>
                            6.	Be heavenly focused and rapture ready <br>
                            7.	Live a life of consecration so has to enhance the bringing down of the hand of God
                            8.	Humble and  Receptive <br>
                            </p>

                            <h6>THE ROLE AND RESPONSIBILITIES OF COVENANT PARTNERS </h6>
                            <p>
                            1.	To intercede for the ministry at all times. <br>
                            2.	To intercede for the Man of God over the ministry. <br>
                            3.	To pray for the family of the MOG. <br>
                            4.	To pray for the growth of the ministry. <br>
                            5.	To pray against spiritual attacks against the ministry.  <br>
                            6.	To pray for more grace, wisdom, understanding, Favour and power. <br>
                            7.	To pray for a continuous flow of the annointing of the Holy Spirit. <br>
                            8.	To receive prophetic words from God about the church and the MOG. <br>
                            9.	Attend partners’ monthly prayer meetings <br>
                            </p>
                            <h6>FINANCIAL</h6> 
                            <p>
                            1.	To support the vision of the ministry through tithes, offerings and covenant giving. <br>
                            2.	To support the expansion of the work of God. <br>
                            3.	To support the ministry towards acquisition of equipment. <br>
                            4.	To give towards major projects in the ministry. <br>
                            5.	Support the programs (crusades, evangelism, outreaches) organized by the ministry. <br>
                            </p>
                            <h6>INFRASTRUCTURE</h6> 
                            <p>
                            1.	To support all the building projects of the church. <br>
                            2.	To support major infrastructural projects of the church such as borehole, renovation, expansion etc. <br>
                            3.	To assist in the construction of roads and drainage within the ministry. <br>
                            4.	To support the ministry with major acquisition projects such as vehicles etc. <br>
                            </p>
                            <h6>GENERAL</h6> 
                            <p>
                            1.	To assist the ministry with contacts in government, agencies and relevant corporate bodies.  <br>
                            2.	To ensure that all activities of the ministry fall within the confines of the law. <br>
                            3.	To help in sourcing for any material that will help in the growth of the ministry. <br>
                            4.	Be productively active in all meetings and programs of the BOANERGES. <br>
                            5.	Be faithful in performing any functions that may be assigned by the leadership of the partners’ forum <br>
                            6.	Respect the leadership of the partners’ forum and accord every partner with due respect. <br>
                            7.	Attend strategic/business meetings of the ministry. <br>
                            8.	Shun every act of disunity among partners and the ministry. <br>
                            9.	Demonstrate Godly characters that promote unity among partners and in the BOANERGES church worldwide. <br>
                            10.	Support the leadership of CAC BOANERGES partners. <br>
                            </p>
                            <p>
                           <h6>Termination of Partner’s Membership:</h6>  It should be noted that any partner can lose his membership if: <br>
                            1.	He/She is found wanting of gross misconduct(s) <br>
                            2.	He/she choses to withdraw his/her membership. 
                            This should be communicated to the partners’ forum leadership either in writing, call or via sms <br>
                            3.	Failure to attend meetings of the partners or ministry for three (3) 
                            consecutive times automatically ends one’s membership of the partners’ forum <br>
                            4.	The visioner, Prophet Ade Ololgbonyo, reserves the right to remove any partner from the forum. <br>
                            </p> 
                            <p style="color: #C49A48; padding: 3%;" class="bg-dark">
                                Please note that your acceptance to be a partner of this ministry Christ Apostolic Church BOARNEGES is voluntary and your personal decision therefore 
                                you are not under duress from the visioner, Prophet Adegboyega Ologbonyo or the leadership of 
                                the Partners’ Forum. <br><br>

                                <i style="color: white;">If you have further questions on partnership and 
                                    payment details please call: <br> <i class="fas fa-phone-square-alt"></i> +2348038117891</i> 
                                   
      
                            </p>

                            <h6 style="color: red;">If you've carefully read the guide and you are ready to signup as a partner, please click the button below</h6>

                            <a href="https://drive.google.com/file/d/1FdI0YIAXBjaTp8FoldiZyzau6evYmLgd/view?usp=sharing" target="blank"><button type="submit" class="btn btn-outline-danger download">Download Partnership guide</button></a>
                            <a href="https://my.forms.app/cacboarneges/registration-form" target="blank"><button type="submit" class="btn btn-outline-danger download">Become a Partner</button></a>
                        </div> 
                       </section>

                       <hr class="hr">
<div class="slide-container bg-dark">
    <h3 class="footnote">CAC Boarneges Church Building Vision</h3>

    <section id="slider">
        <input type="radio" name="slider" id="s1">
        <input type="radio" name="slider" id="s2">
        <input type="radio" name="slider" id="s3" checked>
        <input type="radio" name="slider" id="s4">
        <input type="radio" name="slider" id="s5">
    
        <label for="s1" id="slide1">
          <img src="images/new1.png" alt="" srcset="" height="100%" width="100%">
        </label>
    
        <label for="s2" id="slide2">
          <img src="images/new2.png" alt="" srcset="" height="100%" width="100%">
        </label>
    
        <label for="s3" id="slide3">
          <img src="images/new3.png" alt="" srcset="" height="100%" width="100%">
        </label>
    
        <label for="s4" id="slide4">
          <img src="images/new1.png" alt="" srcset="" height="100%" width="100%">
        </label>
    
        <label for="s5" id="slide5">
          <img src="images/new2.png" alt="" srcset="" height="100%" width="100%">
        </label>

        
    </section>
    <h6>If you would like to give towards the completion of this project :</h6>
    <span class="slide-text">
        <h6>1014316468</h6>
        <h6>Zenith Bank</h6>
        <h6>The Boanerges Ministries International </h6>    

    </span>
      

      


</div>
<hr class="hr">




<%- include('partials/footer.ejs') %>