.navigate{
        background-image: url("/images/mission.jpg") ;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
        
        height: 740px;
       overflow-x: hidden;
}
div.polaroid {
    /* width: 80%; */
    /* background-color: white; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    /* border-radius: 100%; */
  }
.nav-link{
    color: white;
    
}
.theicon{
    height: 100px;
    width: 100px;
}
.nav-text{
    font-size: 1.5rem;

}
.nav-text:hover{
    color: #fff176;
}

.nav-item:hover{
   color: #fff176;
}
.nav-item:last-child {
    border-right: none;
  }
.container-fluid{
    padding: 3% 7%;
    

}

.fontsawe{
    margin-right: 8px;
}
.fontsawe:hover{
    color:#fff176 ;
}
.mission{
    background-image: url("/images/mission1.jpg") ;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
        height: 400px;
        color: white;
        overflow-x: hidden;
    

}

.message{
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    font-size: 3rem;
}
.message-container{
    /* margin-left: 250px; */
    margin: auto;
    margin-top: 90px;
    width: 700px;
    text-align: center;
    
   
        
}
.download-button{
    margin: 20px;
    

}
.download-button:hover{
    background-color: #fff176;
}

.write{
    width: 900px;
    height: 50px;
    font-size: 2.5rem;
    /* margin-top: 10px; */
    margin: auto;
    text-align: center;
    color: #fff176;
    font-weight: 400;
}
.writeup-header{
    padding-top: 30px;
    margin-left: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.vision-header{
    padding-top: 30px;
    margin-left: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;

}
.vision{
        background-image: url("/images/vision.jpg") ;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
        height: 400px;
       margin-top: -20px;
       color:#fff176 ;

}
.vision-text{
    padding-top: 5px;
    margin: auto;
    font-size: 2.2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 900px;
    text-align: center;
}
.purpose-header{
    padding-top: 30px;
    margin-left: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;

}
.purpose{
    background-image: url("/images/devotion.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
   margin-top: -20px;
   color:#fff176 ;

}

.purpose-text{
    padding-top: 50px;
   margin: auto;
    font-size: 2.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 900px;
    text-align: center;
}
.mb-2{
    color: #C49A48;
}
.mb-3{
    color: #C49A48;
}


.about{
    background-image: url("/images/bible.jpg") ;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
        height: 400px;
        color: #fff176;
       margin: auto;

}
.about-text{
   
    
    font-weight: 900;
    font-family: sans-serif;
    font-size: 3rem;
    margin-left: 40%;
    
}

.leader-image{
    border-radius: 100%;
    height: 200px;
    
    margin-top: 50px;
    
}
.about-prem{
    margin: auto;
}
.leader-header{
    
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 900;
    font-size: 1.5rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}
.leader-title{
    font-weight: 400;
    margin-bottom: 20px;
   
}
.about-container{
    
    overflow-x: hidden;

}

.social{
    height: 20px;
    width: 20px;
    margin: 15px;
    color: #C49A48;
    
}
.social:hover{
    color: #fff176;
}
li a{
    color: white;
}
#projects{
    padding: 7% 17%;
    text-align: center;
    color: white;
    background-color: #3f598a;
}
.carousel-item{
    width: 600px;
    height: 400px;

}
.footnote{
    margin: 10px;
}
.service{
    padding: 1% 7%;
    
}
.service-header{
    margin-bottom: 5%;
    
    color: #07358A;
}
.fellowship-header{
    padding: 1% 7%;
    color: #07358A;
    
}
.fellowship-box{
    padding: 4% 25%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow-x: hidden;

}
.fellowship{
    overflow-x: hidden;
}
   
   

.fellowship-text-main{
    color: #C49A48;
    padding: 2%;
    
}

.appointment{
    padding: 0% 7%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow-x: hidden;
}
.appointment-header{
    margin-bottom: 5%;
    color: #07358A ;
    margin-top: 1%;
}
.appointment-text-box{
    text-align: center;
    padding: 10px;
}



.appointment-text{
    font-size: 1.5rem;
    color: #C49A48;
    font-weight: 900;
    padding: 2%;
}


.hr{
    border: 5px solid grey;
    opacity: 20%;
    border-radius: 5px;
}
.appointment-cta{
    color: white;
    padding: 2%;
}
.appointment-number{
   font-size: 1.3rem;
   padding-bottom: 2%;
    
}
.about-text-main{
    width: 800px;
    text-align: justify;
    overflow-x: hidden; 
    margin: auto;
    
}
.navbar-toggler{
    color: white;
}

.partner-text{
    width: 900px;
    text-align: justify;
    margin-top: 80px;
    margin-left: 10%;
}
.offering-text{
    border: 3px solid grey;
    border-radius: 15px;
    width: 800px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 30px;
    text-align: center;
    color: white;
    
  
}
.offering-header{
    margin-top: 2%;
    margin-left: 7%;
    margin-bottom: 5%;
    color: #07358A;
}
.offerings-tithes{
    overflow-x: hidden;
}
.offering-text1{
    opacity: 60%;
}
.partner{
    margin-left: 7%;
    padding-top: 2%;
    line-height: 3rem;
    font-size: 1.2rem;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.partner-text1{
    margin-bottom: 20px;
}
.partner-text2{
    color: red;
    margin-bottom: 20px;
}
.partner-header{
    color: #07358A;
}
h6{
    font-weight: 550;

}
.download{
    margin: 10px;
}

#footer{
    font-size: 1.5rem;
    margin-top: -10px;
}

@media (max-width:1200px) and (max-width:800px){
    
    #navigate,#appointment,#leadership,#offerings-tithes,#partner{
       
      
        
    }
    .container-fluid{
     margin: auto;
     overflow-x: hidden;
    
    }
    .navbar{
        margin: auto;
        overflow-x: hidden;
    }
  .message-container{
    overflow-x: hidden;
    width: 700px;
    margin: auto;
     
  }
  .about-text{
      margin-left:20%
  }
  .message{
      font-size: 3rem;
  }

    .appointment-text-box{
        text-align: center;
        overflow-x: hidden;
    }
    
    .about-text-main{
        width: 800px;
        text-align: justify;
       padding: 10px;
       overflow-x: hidden;

    }
    .offering-text{
        font-size: 2rem;

    }
    .offering-text1{
        opacity: 60%;
    }
    .partner-text{
        width: 700px;
        overflow-x: hidden;
        /* padding: auto; */
        padding-right: 5%;
        
    }
    .partner{
        /* margin-left: 5%; */
        overflow-x: hidden;
        text-align: center;
        margin: auto;
    }
   
    .mission{
        /* text-align: center; */
     
        margin-bottom: 20px;
        text-align: center;
        overflow-x: hidden;
        
        
    }
    .purpose{
        text-align: center;
        overflow-x: hidden; 
    }
    .purpose-header
    {
        margin-left: 0px;
    }
    .purpose-text{
        margin:auto;
        width: 500px;
        font-size: 1.7rem;
        line-height: 1.5;

    }
    .write{
        width: 500px;
        /* text-align: center; */
        font-size: 1.7rem;
        margin: auto;
        line-height: 1.5;
    }
    .write-container{
        text-align: center;
    }
    .writeup-header{
        margin-left: 5px;

    }
    .vision{
        margin-top: 0px;
        /* margin: 15px; */
        text-align: center;
        overflow-x: hidden;
    }
    .vision-text{
        margin:auto;

        /* text-align: center; */
        padding-top: 30px;
        font-size: 1.5rem;
        width: 400px;
    }
    .vision-header{
        margin-left: 0px;
    }
    .message-container{
        margin:auto;
        margin-top: 90px;
        /* width: 400px; */
        text-align: center;
        overflow-x: hidden;
        
        /* padding: 3% 7%; */
        /* border-radius: 30px; */
       
            
    }
}